.popup__input {
    display: block;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin: 54px 8.37209302% 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 13px;
}

.popup__input:nth-of-type(2) {
    margin-top: 30px;
}

.popup__input:focus {
    outline: none;
}

@media screen and (max-width: 434px) {
    .popup__input {
        margin: 75px 9.24369748% 0;
    }
}